<html xmlns:th="https://www.thymeleaf.org/">
<body>
<h3>Show Page</h3>
<table border="1">
<tr>
<th>ID</th>
<th>NAME</th>
<th>Gender</th>
<th>DEPT</th>
<th>LANGUAGE</th>
</tr>
<tr th:each="ob:${list}">
<td th:text="${ob.empId}"></td>
<td th:text="${ob.empName}"></td>
<td th:text="${ob.empGen}"></td>
<td th:text="${ob.empDept}"></td>
<td th:text="${ob.empLangs}"></td>
</tr>
</table>
<a th:href="@{/}">Add New Employee</a><br>
<li th:if="${page.hasNext}">
<a th:href="@{/show(page=${page.number+1})}">NEXT Page</a>
</li>
<li th:if="${page.hasPrevious}">
<a th:href="@{/show(page=${page.number-1})}">Previous Page</a>
</li>
<li th:if="${!page.isFirst}">
<a th:href="@{/show(page=0)}">First Page</a>
</li>
<li th:if="${!page.isLast}">
<a th:href="@{/show(page=${page.totalPages-1})}">Last Page</a>
</li>
</body>
</html>